<div class="avatar-gallery-div">
    <h3>Choose your avatar!</h3>
    <div>
        {{#each avatarImgNames}}
         <img src="/images/Avatars/{{this}}" class="avatar-gallery-icon" avatarFileName="{{this}}">
        {{/each}}
    </div>
</div>