<div id="catalogue" class="panel">
    <h2>Catalogue</h2>

    <div id="date-sorting">
        <p><strong>sorting1</strong></p>
             <ul id=""></ul>
        <p><strong>sorting2</strong></p>
        <p><strong>sorting3</strong></p>
        <p><strong>sorting4</strong></p>
       
    </div>
</div>