<div id="catalogue" class="panel">
    <h2>View by</h2>

    <div id="date-sorting">
        <div><p><a href="/?sortingAttribute=publishDate&sortingOrder=DESC"><strong>Lastest Articles</strong></a></p></div>
        <div><p><a href="/?sortingAttribute=publishDate&sortingOrder=ASC"><strong>Oldest Articles</strong></a></p></div>
        <div><p><strong>Most commented Articles</strong></p></div>
        <div class="authors-search-box"><p><strong>Articles Authors</strong></p>
            <div class="flex-col mb">                
                <label for="txtAuthorUsername">Search author's username:</label>
                <input type="text" name="usernameText" id="txtAuthorUsername" required>
            </div>
            <div class="flex-row justify-sb align-center">
                <button class="author-name-search-submission">Search</button>
            </div>
        </div>
       
    </div>
</div>