<div class = "nav">
        <!-- The hamburger button that appears on small displays. Opens or closes the app drawer -->

    <div class="nav-button"><a href="/">Home</a></div>

    <div class="navigation_hamburger">
        <img src="../images/hamburger.png" alt="navigation button">
    </div>

    <!-- List of navigation items -->
    <ul class = "navigation-list">
        <li class="nav-button"><a href="/user-articles">All your articles</a></li>
        <li class="nav-button"><a href="/newArticle">new article</a></li>
        <li class="nav-button"><a href="/profile-setting">profile</a></li>
        <li class="nav-button"><a href="/logout">log out</a></li>
    </ul>
</div>