<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="./css/site.css">
</head>

<body>
    <h2>this is the name of the blog</h1>
    {{{body}}}
</body>

</html>