<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>ABY</title>
    {{/if}}

{{!-- TO DO Break up function.js --}}
    <link rel="stylesheet" href="./css/site.css">

    <script type="text/javascript" src="./scripts/dropdown-sorting-function.js"></script>

    <script type="text/javascript" src="./scripts/user-sorting-cookie-function.js"></script>

    {{#if homepage}}
    <script type="text/javascript" src="./scripts/home-page-function.js"></script>
    {{/if }}


    {{#if newaccountpage}}
    <script type="text/javascript" src="./scripts/user-signup-function.js"></script>
    {{/if }}

    {{#if profilepage}}
        <script type="text/javascript" src="./scripts/user-profile-function.js"></script>
    {{/if}}

    {{#if singlearticlepage}}
        <script type="text/javascript" src="./scripts/single-article-function.js"></script>
    {{/if}}

    
    {{#if yeti}}
        <script type="text/javascript" src="./scripts/yeti-function.js"></script>
    {{/if}}
            
    {{#if WYSIWYG}}
    <title>WYSIWYG EDITOR</title>
    <link rel="stylesheet" type="text/css" href="./css/WYSIWYG_Style.css">
    <script type="text/javascript" src="./scripts/WYSIWYG.js"></script>
    {{/if}}

</head>


<body>
    <div class="header">
        <h1>this is the name of the blog</h1>
    </div>
    <div class="html-body">
        {{{body}}}
    </div>

    
</body>

</html>