{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}
<h1 style="text-align: center">404 Page Not Found</h1>
<h2 style="text-align: center">there is no page to be found at <a
        href="www.thisblog.com{{badurl}}">www.thisblog.com{{badurl}}</a></h2>
<img src="./images/404_TheWayIsLost.png" style="display: block; position: relative; margin: 100px auto auto auto">