{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}

{{#if message}}
    <p>{{message}}</p>
{{/if}}

<div class="container">
<p>this is the place to have some article to show</p>
</div>
