<h1>My stuff:</h1>
<ul>
    {{#each allTestData}}
    <li>{{this.stuff}}</li>
    {{/each}}

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

    <h2>Welcome to Main Page</h2>

    <form action="./login" method="GET">
        <div class="flex-row justify-sb align-center">
            <button type="submit">Login</button>
        </div>
    </form>

    
    <form action="./newAccount" method="GET">
        <div class="flex-row justify-sb align-center">
            <button type="submit">Create New Account</button>
        </div>
    </form>

</ul>

<h1>A dragon:</h1>
<img src="./images/Dragonite.png">