{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}

{{#if message}}
<p>{{message}} {{user.username}}</p>
{{/if}}

<div class="container">
    <div id="articles" class="panel">
        <h2>Articles</h2>

        <!-- Loaded articles should appear here -->
        <div id="articles-inner"></div>

        <div id="article-load-button" class="article-load button">Load more articles</div>
    </div>

</div>