{{> default-navi-bar }}

<div class="container">

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

    <h1>New Account</h1>
    <form action="./newAccount" method="POST">
        <div class="flex-col mb" id="new_acount_username_div">
            <label for="new_acount_username">Username:</label>
            <input type="text" name="new_account_username" id="new_acount_username" required>
            <p id="username_alert_message"></p>
        </div>
        
        <div class="flex-col mb">
            <label for="new_account_password1">Password:</label>
            <input type="password" name="password1" id="new_account_password1" required>
        </div>
        
        <div class="flex-col mb">
            <label for="new_account_password2">Re-enter your password:</label>
            <input type="password" name="password2" id="new_account_password2" required>
            <p id="password_alert_message"></p>
        </div>


        <div class="flex-col mb">
            <label for="txtFName">First name:</label>
            <input type="text" name="fname" id="txtFName" required>
        </div>

        <div class="flex-col mb">
            <label for="txtLName">Last name:</label>
            <input type="text" name="lname" id="txtLName" required>
        </div>

        <div>
            <label for="txtdob">Birthday:</label>
            <input type="date"  name="birthday" id="txtdob" required>
        </div>

        <br>

        <div class="flex-col mb">
            <label for="txtDescription">Brief introduction about you!:</label>
            <input type="text" name="description" id="txtDescription" required>
        </div>

        <br>

        <div class="flex-row justify-sb align-center">
            <button type="submit" id="create_account_btn">Create account</button>
        </div>

    </form>

</div>