{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}
<h1 style="text-align: center">403 Access Denied</h1>
<h2 style="text-align: center">You do not have permission to do that, try something else!</a></h2>
<img src="./images/403_YouShallNotPass.jpg" style="display: block; position: relative; margin: 100px auto auto auto">