@import url("./utils.css");

/* Fonts, misc */
/*****************************************************************/
* {
    font-family: Verdana, Geneva, sans-serif;
    color: #706F6F;
    line-height: 23px;
}

/* * { border: 1px solid black; } */

p, pre, th, td, li {
    font-size: 14px;
}

a {
    color: #3AAA35;
}

a:visited {
    color: #706F6F;
}

h1, h2, h3 {
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

img {
    object-fit: cover;
}

.code {
    font-family: Consolas, monospace;
}

.invisible-class {
    display: none
}
/*****************************************************************/


/* Main page layout */
/*****************************************************************/
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px 20px;
}

.grid-container {
    margin: auto 7%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "header header"
            "articles catalogue"
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

.nav {
    grid-area: navi;
}

#articles { grid-area: articles; }
#catalogue { grid-area: catalogue; }


/*****************************************************************/


/* Cards */
/*****************************************************************/
div.card {
    background-color: white;
    box-shadow: 3px 3px 5px #706F6F;
    display: flex;
    flex-direction: column;
}

div.card .card-header {
    width: 100%;
}

div.card .card-img {
    display: block;
}

div.card > .card-body {
    border: 1px solid #E6E7E9;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

div.card > .card-footer {
    width: 100%;
}
/*****************************************************************/


/* Tables */
/*****************************************************************/
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 5px;
    color: #231F20;
}

.table th {
    font-weight: bold;
}

.table > thead {
    background-color: #d9ead3;
    border-top: 1px solid #3AAA35;
    border-bottom: 1px solid #3AAA35;
}

.table > tbody {
    border-bottom: 1px solid #706F6F;
}

.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table > tbody > tr:nth-child(even) {
    background-color: #E6E7E9;
}

.table.table-hover > tbody > tr:hover {
    background-color: #B6B7B9;
}
/*****************************************************************/


/* Nav */
/*****************************************************************/
.nav {
    display: flex;
    flex-direction: row;
    background-color: #d9ead3;
    box-shadow: 0px 3px 5px #706F6F;
    justify-content: flex-start;
    align-items: baseline;
    padding: 2px 10px;
}

.nav .nav-brand {
    padding: 0px 10px;
}

.nav .nav-button {
    padding: 0px 10px;
    font-size: 20px;
    color: #706F6F;
    text-decoration: none;
    border-left: 1px solid #a9baa3;
}

.nav .nav-button.active {
    color: #231F20;
}


/* On larger screens, we should not see the hamburger button*/
.navigation_hamburger {
    display:none;
}
/*****************************************************************/


/* Forms */
/*****************************************************************/
form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/*****************************************************************/


/* Responsive design */
/*****************************************************************/
@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: 20px auto;
    }
}
/*****************************************************************/


/* imgages */
/*****************************************************************/
/* .avatarIcon {
    height: 100%;
}

.AvatarDiv {
    height: 100px;
} */

.avatar-gallery-div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avatar-gallery-div,p {
    display: block;
}

.avatar-gallery-icon {
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}
.avatar-gallery-icon:hover {
    background-color: #FFCB05;
    transform: scale(1.1);
}


.userAvatarDiv .avatarIcon{
    height: 130px;
    border-radius: 50%;
    background-color: #FFCB05;
}
.avatarIcon{
    height: 85%;
}

.vote-icon {
    width: 20px;
    cursor: pointer;
}

.yeti-animation {
    text-align: center;
}

.yeti-images {
    height: 200px;
    width: 200px;
}



/*****************************************************************/



/* comments */
/*****************************************************************/
* {
    border: 1px solid black;
    background-size: contain;
    display: inline-block:
}

.comment-container {
    

    width: 700px;

    height: 100%;
    margin: auto;
    padding: 0 10%;
    background-color: rgb(224, 244, 252);
    border: 1px solid transparent;
}

/* .comments-list {
    
} */

 .comment-body {
    display: grid;  
    grid-template-columns: 20% auto ;
    grid-template-rows: Y 100px auto auto;
    grid-template-areas:
    "a name "
    "a d  "
    "v ct "
    "rd rd "
    "cmb cmb";
    border: solid 3px orange;
    border-radius: 15px;
    padding: 3px;
    /* height: 50px;
    font-size: 14px; */
} 
/* 
.comment-body >p, .comment-body >h5, .comment-body >h6 {
    border: 5px red solid;
    width: 80%;
    word-wrap: break-word;
} */

.comment-title {
    grid-area: name;
    /* border: 2px blue solid; */
    max-width: inherit;

}

.comment-title>*{
    margin: 0;
}

.comment-datetime {
    grid-area: d;
    /* border: 2px green solid; */
}

.comment-datetime>* {
    /* background-color: lightgreen; */
    display: inline;
    margin: 0;
}

.user-avatar {
    grid-area: a;
    height: 15%;

    /* border: 5px red dashed; */
}

.comment-content {
    grid-area: ct;
    /* border: 5px violet dashed; */
    overflow: hidden;
    height: auto;

}

.comment-content>* {
    /* background-color: red; */
    word-wrap: break-word;
    margin: 5px;
}

.vote-container {
    grid-area: v;
    display: flex;
    /* border: 5px purple dotted; */
}

.commentreply-delete {
    grid-area:rd;
    display: flex;
    /* flex-direction: column ; */
}

.child-comment {
    grid-area: cc;
}

.commentAvatarIcon {
    height: 100%;
}

.new-comment-box {
    grid-area: cmb;
}

.comments-level-1 {
    padding: 1em 1em 3em 2em;
}

.comments-level-2 {
    padding: 1em 1em 3em 4em;
}

/* .commentreply-delete, .vote-buttons{


} */

.commentAvatarIcon {
    height: 100px;
    justify-items: center;
}

/* .comments-list {
    padding-top: 5%;

} */



/* Articles */
/*****************************************************************/

.article {
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    width: 100%;
    text-align: center;
    color: white;
    background-color: teal;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.article-load {
    margin-top: 2em;
    background-color: darkgreen;
}

.panel {
    padding: 1em;
    border: 1px solid salmon;
    border-radius: 15px;
    margin: 0.25em;
}

.panel > h2 {
    text-align: center;
}
/*****************************************************************/


/* Smaller screen */

@media only screen and (max-width: 600px) {



    .comment-container {
        width: 
    }











  }