@import url("./utils.css");

/* Fonts, misc */
/*****************************************************************/
* {
    font-family: Verdana, Geneva, sans-serif;
    color: #706F6F;
    line-height: 23px;
}

* { border: 1px solid blue; }

a{
    text-decoration: none;

}

p, pre, th, td, li {
    font-size: 14px;
}

ul {
    list-style-type: none;
}



h1, h2, h3 {
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

label {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

img {
    object-fit: cover;
}

.code {
    font-family: Consolas, monospace;
}

.invisible-class {
    display: none
}
/*****************************************************************/


/* Main page layout */
/*****************************************************************/
.html-body {
    margin: auto;
    padding: 5% auto 5% auto;  
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    padding: 50px;

}

.grid-container {
    margin: auto 7%;
}
    

.header {
    display: flex;
    justify-content: center;
}






/*****************************************************************/


/* Cards */
/*****************************************************************/
div.card {
    background-color: white;
    box-shadow: 3px 3px 5px #706F6F;
    display: flex;
    flex-direction: column;
}

div.card .card-header {
    width: 100%;
}

div.card .card-img {
    display: block;
}

div.card > .card-body {
    border: 1px solid #E6E7E9;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

div.card > .card-footer {
    width: 100%;
}
/*****************************************************************/


/* Tables */
/*****************************************************************/
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 5px;
    color: #231F20;
}

.table th {
    font-weight: bold;
}

.table > thead {
    background-color: #d9ead3;
    border-top: 1px solid #3AAA35;
    border-bottom: 1px solid #3AAA35;
}

.table > tbody {
    border-bottom: 1px solid #706F6F;
}

.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table > tbody > tr:nth-child(even) {
    background-color: #E6E7E9;
}

.table.table-hover > tbody > tr:hover {
    background-color: #B6B7B9;
}
/*****************************************************************/


/* Nav */
/*****************************************************************/
.nav {    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #231F20;
    box-shadow: 0px 0px 5px #706F6F;
    position: -webkit-sticky;
    position: sticky;
    top: -55px;
    z-index:9999;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 2em;    
}


.nav-button {
    /* padding: 0px 10px; */
    font-size: 20px;

}


.navigation_list {
    display: flex;
    justify-content: end;
    overflow: hidden;
    font-size: .9em;
    list-style-type: none;
}

/* Space out nav items */
.navigation_list > li {
    margin-right: 0.4em;
    padding: 0.25em;
}

.nav * {
    color: #ffffff;
}


/* On larger screens, we should not see the hamburger button*/
.navigation_hamburger {
    display:none;
}

.dropdown-icon, .pullupIcon-icon {
    width: 30px;    
    pointer-events: none;
}

.nav-dropdown {
    cursor: pointer;
  
}

/*****************************************************************/


/* Forms */
/*****************************************************************/
form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/*****************************************************************/

/* hearder */
/*****************************************************************/
.header {
    height: 100px;
}

.header>h1 {
    margin: auto;
}

/* .header>a {
    color: #000000;
}

.header>a:visited {
    color: #808080;
} */
/*****************************************************************/

/* Responsive design */
/*****************************************************************/
@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: auto;
    }
}
/*****************************************************************/

/* auth system */
/*****************************************************************/
.login-card {
    width: 50%;
    box-shadow: 3px 3px 5px #706F6F;
    margin: auto;   
    padding: 50px;
    text-align: center;
}

.login-card button {
    width: auto;
    margin: 10px auto;
    font-size: 1em;
}



.message p{
    margin: 40px auto 0px auto;
    text-align: center;
    font-size: 1.5em;
}
/*****************************************************************/

/* imgages */
/*****************************************************************/
/* .avatarIcon {
    height: 100%;
}

.AvatarDiv {
    height: 100px;
} */

.avatar-gallery-div {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avatar-gallery-div,p {
    display: block;
}

.avatar-gallery-icon {
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.avatar-gallery-icon:hover {
    background-color: #FFCB05;
    transform: scale(1.1);
}


.userAvatarDiv .avatarIcon{
    height:180px;
    border-radius: 50%;
    background-color: #FFCB05;
}
.avatarIcon{
    height: 85%;
}

.vote-icon {
    width: 20px;
    cursor: pointer;
}

.yeti-animation {
    text-align: center;
}

.yeti-images {
    height: 200px;
    width: 200px;
}



/*****************************************************************/

/* Sorting column */
/*****************************************************************/
#catalogue { 
    background-color: #231F20;
    display: none;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 0.25em 2em;    
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 9999;
    margin: auto;
    box-shadow: 3px 3px 5px #706F6F;
}

#catalogue>div {
    width: 20%;
}

#catalogue label {
    color: #ffffff;
    text-align: center;
    
}

/*****************************************************************/
/* comments */
/*****************************************************************/
.comment-container {  

    width: auto;
    height: 100%;
    margin: auto;
    /* padding: 0 10%; */
}

/* .comments-list {
    
} */

 .comment-body {
    margin: 1% auto;
    width: 85%;
    box-shadow:rgba(80, 80, 80, 0.247) 2px 2px 2px 2px;
    display: grid;  
    grid-template-columns: 7em auto ;
    grid-template-rows: 30px 30px auto auto;
    grid-template-areas:
    "a name "
    "a d  "
    "v ct "
    "rd ct "
    "cmb cmb";
} 


.comment-title>*{
    margin: 0;
}

.comment-datetime {
    grid-area: d;
    /* border: 2px green solid; */
}

.comment-datetime>* {
    /* background-color: lightgreen; */

    margin: 0;
}

.user-avatar {
    grid-area: a;
    /* border: 5px red dashed; */
}

.commentAvatarIcon {
    border-radius: 50%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.comment-content {
    grid-area: ct;
    /* border: 5px violet dashed; */
    /* overflow: hidden; */
    height: auto;
    overflow-wrap: break-word;
    overflow-x: auto; 

}

.comment-content>* {
    /* background-color: red; */
    /* word-wrap: break-word; */
    margin: 5px;
}

.vote-container {
    grid-area: v;
    display: flex;
    justify-content: center;
    /* border: 5px purple dotted; */
}

.commentreply-delete {
    grid-area:rd;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.child-comment {
    grid-area: cc;
}



.new-comment-box {
    grid-area: cmb;
} 

.comments-level-1 {
    padding-left: 15%;
}

.comments-level-2 {
    padding-left: 15%;
}



/* Articles */
/*****************************************************************/

.article {
    width: 85%;
    margin: 2em auto 2em auto;
    padding: 1em;
    /* border: 1px solid black; */
    box-shadow:rgba(80, 80, 80, 0.247) 5px 5px 5px 5px;
    text-align: center;
}
.article:hover {
    /* background-color: #231f2010; */
    transform: scale(1.01);
}

.button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(112, 112, 112, 0.486);
    /* background-color: rgba(15, 15, 15, 0.486); */
    /* border-radius: 5px; */
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin: auto;
    box-shadow:rgba(0, 0, 0, 0.247) 2px 2px 2px 2px;
    
}
.button:hover {
    transform: scale(1.01);
}

.article-load {
    margin-top: 2em;
    background-color: darkgreen;
}

.article-read-more {
    width: 30%;
    text-align: center;    
}

.panel {
    padding: 1em;
    /* border: 1px solid salmon; */
    border-radius: 15px;
    margin: 0.25em;
}

.panel > h2 {
    text-align: center;
}

.editor {
    box-shadow:rgba(80, 80, 80, 0.247) 5px 5px 5px 5px;
    width: 85%;
    margin: auto;
}

/*****************************************************************/
/* comments */


.homepage-article-body {
    text-align: center;
}
#article-load-button {
    width: 75%;
    background-color: rgba(112, 112, 112, 0.486);
    box-shadow:rgba(80, 80, 80, 0.247) 5px 5px 5px 5px;
}

#articles {
    box-shadow:rgba(80, 80, 80, 0.247) 5px 5px 5px 5px;
    padding: 20px;
    margin: 30px auto;
    text-align: justify;
}

#articles>h2, #single-article>h4, #single-article>h6 {
    text-align: center;
}
#single-article {
    width: 85%;
    margin: auto;
}

.siblingArticles {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0px 20px 0px 20px;
}
.siblingArticles * {
    font-size: 1em;
    color: #706F6F;
}
.siblingArticles>p:hover {
    transform: scale(1.05);
}

.article-edit {
    width: 40%;
    margin: 10px auto;

}
/*****************************************************************/



